@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color: #11131f;
}

.bg_primary_color{
  background-color: #d4a59a;
}

.bg_secondary_color{
  background-color: rgba(33, 34, 51, 0.9);
}


.nav_items:after{
  display:block;
  content: '';
  border-bottom: 3px solid rgb(104, 66, 255);
  transform: scaleX(0);  
  transition: transform 500ms ease-in-out;
}
.nav_items:hover:after { transform: scaleX(1); }
.nav_items:after{  transform-origin:  0% 50%; }

.battle_button{
  background-color: rgb(104, 66, 255);
}

/* .item_active{
  transform: translateY(-5px);
}
 */