@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color: #11131f;
}

.bg_primary_color{
  background-color: #d4a59a;
}

.bg_secondary_color{
  background-color: rgba(33, 34, 51, 0.9);
}


.nav_items:hover{
  transition: 0.5s;
  transform: translateY(-5px)
}

.item_active{
  background-color: rgb(104, 66, 255);
}